@media (min-width: 100px) {
    .headerContainer {
        height: 150px;
    }
    
    .header {
        background: url("../images/mountain-wallpaper-opaque-width400px.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 45%;
        height: 150px;
    }

    .topNavigation {
        justify-content: center;
    }

    .topNavigation a {
        width: 33%;
        height: 30%;
    }

    .headerOverlay {
        height: 70%;
        top: 30%;
    }

    .headerOverlay div.nameContainer {
        font-size: 10vw;
    }

    .headerOverlay div.descriptionContainer {
        font-size: 5vw;
    }

    .topNavigation a.sideBorder:after {
        opacity: 0;
    }

    .contentContainer {
        width: 85%;
    }
}

@media (min-width: 300px) {
    .headerContainer {
        height: 300px;
    }

    .header {
        height: 300px;
    }

    .topNavigation {
        height: 15%;
    }
    
    .topNavigation a.sideBorder:after {
        opacity: 1;
    }

    .headerOverlay {
        height: 85%;
        top: 15%;
    }
}

@media (min-width: 600px) {
    .header {
        background: url("../images/mountain-wallpaper-opaque-width900px.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 30%;        
    }

    .headerOverlay div.nameContainer {
        font-size: 4vw;
    }

    .headerOverlay div.descriptionContainer {
        font-size: 2vw;
    }

    .contentContainer {
        width: 75%;
    }

    .titleContainer {
        position: absolute;
        width: 15%;
    }

    .paraContainer{
        position: relative;
        width: 75%;
        left: 25%;
    }

    .projectContainer{
        position: relative;
        width: 75%;
        left: 25%;
    }

    p.title {
        float: right;
    }
}

@media (min-width: 800px) {
    .header {
        background: url("../images/mountain-wallpaper-opaque.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0% 30%;
    }

    .topNavigation {
        justify-content: flex-end;
    }

    .topNavigation a {
        width: 10%;
    }
}

body {
    margin: 0;
    padding: 0;
}

.headerContainer {
    width: 100%;
}

.header {
    position: absolute;
    width: 100%;
}

.topNavigation {
    display: flex;
    width: 100%;
    line-height: 330%;
    font-size: 15px;
}

.topNavigation a{
    font-family: "dosis";
    text-align: center;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

.topNavigation a.sideBorder {
    position: relative;
}

.topNavigation a.sideBorder:after {
    content: '';
    height: 15px; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 18px; 
    background-color: white;
}

.topNavigation a:hover {
    cursor: pointer;
    color: rgb(170, 170, 170);
}

.headerOverlay {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerOverlay div.nameContainer {
    font-family: "dosis";
    color: white;
    font-variant: small-caps;
}

.headerOverlay div.descriptionContainer {
    font-family: "dosis";
    color: white;
    font-variant: small-caps;
}

.contentContainer {
    margin: 0 auto;
}

#about {
    width: 100%;
    margin-top: 5%;
}

p.title {
    font-variant: small-caps;
    font-size: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}

p {
    font-family: "dosis";
    font-size: 18px;
    text-align: justify;
}

.skillsBar {
    display: flex;
    flex-direction: row;
}

span.skill {
    flex-grow: 1;
    text-align: center;
    font-family: "dosis";
    font-size: 18px;
}

#projects {
    margin-top: 5%;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    margin-top: 20px;
}

.project a {
    text-decoration: none;
}

.project a img {
    position: absolute;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.project a img:hover {
    opacity: 0.8;
}

.projectBottomPanel {
    box-sizing: border-box;
    position: relative;
    top: 200px;
    width: 200px;
    height: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectName {
    color: black;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
    margin: 0;
    transition: 0.3s;
    flex-grow: 1;
}

.projectName:hover {
    color: rgb(170, 170, 170);
}

.githubLink {
    color: black;
    font-family: "dosis";
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    transition: 0.3s;
    flex-grow: 1;
}

.githubLink:hover {
    color: rgb(170, 170, 170);
}

#contact {
    margin-top: 5%;
    margin-bottom: 5%;
}

.contactsTable {
    border-collapse: collapse;
}

.tableKey {
    font-family: "dosis";
    padding: 10px;
    font-size: 18px;
    width: 100px;
}

.tableValue {
    font-family: "dosis";
    font-size: 18px;
}